# Ignore database files
*.db

# Ignore log files
*.log

# Ignore Python virtual environment
venv/

# Ignore pycache directories
__pycache__/

# Ignore test screenshots
tests/screenshots/

# Ignore pytest cache
.pytest_cache/
